<html>
    <head>
        <title>Welcome to the Page </title>
        <link rel="stylesheet" type="text/css" href="Style.css">
        <link rel="icon" href='weather.png'>
        
    </head>
    <body>
        <div class="div1">
        <header>      
             <h2>Help Page </h2>
         <a href="http://localhost:3000/">Application Page </a>
         <a href="http://localhost:3000/about">About Page </a>
        <a href="http://localhost:3000/help">Help Page </a>
        
        </header>
        </div>
 
<footer>
       <p>{{email}}</p>
   </footer>
    </body>
</html>